<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<!--在ejs中<1%xxx%1>>就是引入了整个html-->
<% include header %>
    posts
<% include footer %>
</body>
</html>